@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --yellow: #FFE893;
  --light-yellow: #FCFFC1;
  --pink: #FB9EC6;
  --light-pink: #FBB4A5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
